@using StartLine_social_network.ViewModels

@model UserDetailViewModel

<div class="text-justify mt-5">
    <h1 class="mb-2">@Model.UserName</h1>
    <h2 class="ml-5 mt-2">@Model.Description</h2>
    <h3 class="font-weight-light mt-6">@Model.City <br/>
                                       @Model.Province</h3>
    <h3 class="font-weight-light mt-2">Role: User, Clubber <br/> </h3>
</div>

