@using StartLine_social_network.ViewModels

@model EditProfileViewModel

<div class="main-container">
    <section class="bg-white space-sm pb-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h1 class="h2">Account Settings</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="media flex-wrap mb-0 align-items-center">
                                <div class="media-body">
                                    <form asp-action="EditProfile" enctype="multipart/form-data">
                                            <input asp-for="Image" type="file" />
                                            <span class="btn btn-primary">Upload</span>
                                            <span asp-validation-for="Image" class="text-danger"></span>
                                            <button id="submit-image-button" type="submit" hidden></button>
                                        </label>
                                        <div>
                                            <small>For best results, use an image at least 256px by 256px in either .jpg or .png format</small>
                                        </div>
                                        <input asp-for="City" hidden />
                                        <input asp-for="Province" hidden />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Profile Information</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8 order-md-1">
                            <form asp-action="EditProfile" method="post" class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="City">City:</label>
                                        <input asp-for="City" type="text" class="form-control form-control-lg" />
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Province">Province:</label>
                                        <input asp-for="Province" type="text" class="form-control form-control-lg" />
                                        <span asp-validation-for="Province" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="about-me">About me:</label>
                                        <textarea class="form-control form-control-lg"
                                                  rows="4"
                                                  id="about-me"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>