@using StartLine_social_network.ViewModels

@model EditProfileViewModel

<form>
  <fieldset>

    <legend>Account settings</legend>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="@Model.UserName">
      </div>
    </div>

    <div class="form-group">
      <label class="form-label mt-4">City</label>
      <input asp-for="City" class="form-control form-control-lg" />
      <span asp-validation-for="City" class="text-danger"></span>
    </div>

      <div class="form-group">
      <label class="form-label mt-4">Province</label>
      <input asp-for="Province" class="form-control form-control-lg" />
      <span asp-validation-for="Province" class="text-danger"></span>
    </div>

    <div class="form-group">
      <label for="exampleTextarea" class="form-label mt-4">About me</label>
      <input asp-for="Province"  class="form-control form-control-lg" />
      <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </fieldset>
</form>
