@using StartLine_social_network.Data.Enum
@using StartLine_social_network.ViewModels
@model CreatePartyViewModel

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="card mt-5">
            <div class="card-body">
            <h4 class="text-center mb-3">Share a Party!</h4>
            <form method="post" asp-action="Create" enctype="multipart/form-data">
              <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId"/>

              <div class="form-group mt-4">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
              </div>

              <div class="form-group mt-4">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
              </div>

                <div class="form-group mt-4">
                <label asp-for="PartyClubCategory">Category</label>
                <select asp-for="PartyClubCategory" asp-items="@Html.GetEnumSelectList<PartyClubCategory>()" 
                    class="form-control">
                </select>
                <span asp-validation-for="PartyClubCategory" class="text-danger"></span>
              </div>

              <div class="form-group mt-4">
                <label asp-for="Address.City">City</label>
                <input asp-for="Address.City" class="form-control" placeholder="City">
                <span asp-validation-for="Address.City" class="text-danger"></span>
              </div>

              <div class="form-group mt-4">
                <label asp-for="Address.Street">Street</label>
                <input asp-for="Address.Street" class="form-control" placeholder="Street">
                <span asp-validation-for="Address.Street" class="text-danger"></span>
              </div>   

               <div class="form-group mt-4">
                <label asp-for="Address.Province">Province</label>
                <input asp-for="Address.Province" class="form-control" placeholder="Province">
                <span asp-validation-for="Address.Province" class="text-danger"></span>
              </div>

               <div class="form-group mt-4">
                <label asp-for="EntryFee">Entry fee</label>
                <input asp-for="EntryFee" class="form-control" placeholder="EntryFee">
              </div>

               <div class="form-group mt-4">
                <label asp-for="Website">Website</label>
                <input asp-for="Website" class="form-control" placeholder="Website">
              </div>

               <div class="form-group mt-4">
                <label asp-for="Facebook">Faceook</label>
                <input asp-for="Facebook" class="form-control" placeholder="Facebook">
              </div>

              <div class="form-group mt-4">
                <label asp-for="Contact">Contact</label>
                <input asp-for="Contact" class="form-control" placeholder="Contact">
              </div>

              <div class="form-group mt-4">
                <label asp-for="Image">Image</label>
                <input asp-for="Image" type="file" class="form-control" placeholder="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
              </div>

              <button type="submit" class="btn btn-outline-success float-right mt-3">Submit</button>
            </form>
        </div>
    </div>      
    </div>
</div>

