@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StartLine_social_network</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StartLine_social_network.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">STARTLINE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       @if (SignInManager.IsSignedIn(User))
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle p-lg-0" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @if (!string.IsNullOrEmpty(currentUser.ProfileImageUrl))
                                        {
                                            <img alt="Image" src="@currentUser.ProfileImageUrl" class="avatar avatar-xs">
                                        }
                                        else
                                        {
                                            <img alt="Image" src="\resources\avatar-male.jpg" class="avatar avatar-xs">
                                        }
                                    </a>
                                    <div class="navbar-nav">
                                        <a class="dropdown-item" asp-controller="User" asp-action="Detail" asp-route-id="@currentUser.Id">
                                            <span  class="nav-item">View Profile</span>
                                        </a>

                                        <a class="dropdown-item" asp-controller="User" asp-action="EditProfile">
                                            <span  class="nav-item">Edit Profile</span>
                                        </a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Club" asp-action="Create">
                                            <span  class="nav-item">Create Club</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Party" asp-action="Create">
                                            <span  class="nav-item">Create Party</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
                                            <span  class="nav-item btn btn-outline-danger">Log out</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>
                                    <span>&nbsp;or&nbsp;</span>
                                    <a asp-area="" asp-controller="Account" asp-action="Login">Sign in</a>
                                </li>
                            </ul>
                        }
                   </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - StartLine_social_network - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>