@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCproject.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="list">
                @while(!User.Identity.IsAuthenticated || User.IsInRole("admin"))
                {
                    <li class="list__link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>
                    </li>
                    <li class="list__link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <li class="list__link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="list__link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Club" asp-action="Index">Clubs</a>
                    </li>
                    <li class="list__link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Party" asp-action="Index">Parties</a>
                    </li>
                }
             
               
                <li class="list__link">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                </li>
                 <li class="list__link">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                </li>
                <li class="list__link">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                </li>
            </ul>
        </div>
    </header>
            @RenderBody()
    <footer class="footer">Filip Copija 13618 </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>