@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StartLine_social_network</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StartLine_social_network.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (SignInManager.IsSignedIn(User))
        {
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">START<u>LINE</u></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse show" id="navbarColor01" style="">
                <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">Home
                    <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Club" asp-action="Index">Clubs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Party" asp-action="Index">Parties</a> 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Create</a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Club" asp-action="Create">Create Club</a>
                    <a class="dropdown-item" asp-controller="Party" asp-action="Create">Create Party</a> 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account settings</a>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="User" asp-action="EditProfile">Edit Profile</a> 
                    <a class="dropdown-item" asp-controller="User" asp-action="Index">Users</a> 
                </li>
                </ul>
                <form class="d-flex">
                <a class="btn btn-secondary my-2 my-sm-0" asp-controller="Account" asp-action="Logout">Log out</a> 
                </form>
            </div>
            </div>
            </nav>
        }
        else
        {
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">START<u>LINE</u></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse show" id="navbarColor01" style="">
                <form class="d-flex">
                    <a class="btn btn-secondary my-2 my-sm-0 me-4" asp-controller="Account" asp-action="Register">Sign up</a>
                    <a class="btn btn-secondary my-2 my-sm-0" asp-controller="Account" asp-action="Login">Sign in</a>  
                </form>
            </div>
            </div>
            </nav>
        }
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - StartLine_social_network - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>