@{
    ViewData["Title"] = "Home Page";
}


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Start<u>Line</u></h1>
        <p class="lead text-muted">Start with joy...</p>
        <p class="lead text-muted">Start with party...</p>
        <p>
          <a asp-controller="Club" asp-action="Index" class="btn btn-primary my-2">See the clubs!</a>
          <a asp-controller="Party" asp-action="Index" class="btn btn-secondary my-2">Check out parties!</a>
        </p>
      </div>
    </div>
  </section>